@media all and (max-width : 601px), (max-height: 450px) {
    /* Styles */
    /* MENU */
    .middle-of-div {
        height: min-content !important;
    }

    .hider {
        display: table-cell !important;
    }

    body {
        height: 80vw !important;
    }

    #botbar nav {
        background-color: rgba(0, 0, 0, 1);
        padding-bottom: 10px;
        position: relative;
        left: 0;
        width: 100%;
        height: 30px;
        overflow: hidden;
        text-align: center;
        -webkit-transition: width 1s ease-in-out;
        -moz-transition: width 1s ease-in-out;
        -ms-transition: width 1s ease-in-out;
        transition: width 1s ease-in-out;
    }

    #botbar nav ul {
        margin: 0 auto;
        padding: 0;
        white-space: nowrap;
        list-style: none;
        width: 100%;
        height: 100%;
    }

    #botbar ul li {
        display: inline;
        font-size: calc(9px + 0.5vw);
        width: 33%;
        padding: 2px;
    }

    #botbar nav ul li span {
        display: block;
        vertical-align: middle;
        text-align: center;
        text-decoration: none;
        color: white;
        width: 100%;
        height: 100%;
    }

    #dropbutton {
        display: block !important;
        position: fixed;
        top: 0;
        background: url("images/menu_icon.png");
        background-color: #E80000;
        background-size: 100%;
        color: white;
        padding: 15px;
        font-size: 10px;
        border: none;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
    }

    .button_close  {
        left: 0;
    }

    .button_open {
        left: 130px;
    }

    #menubar {
        position: fixed;
        z-index: 15;
        top: 0;
        left: 0;
        height: 100vh;
        overflow: hidden;
    }

    .closed {
        display: block;
        width: 0;
        height: 100vh;
        position:fixed;
        overflow: hidden;
    }

    .open {
        display: block;
        width: 165px;
        height: 100vh;
        position:fixed;
        overflow-y: visible !important;
    }

    #menubar nav {
        z-index: 15;
        padding-top: 10px;
        padding-bottom: 10px;
        position: relative;
        top: 0;
        left: 0;
        -webkit-transition: width 1s ease-in-out;
        -moz-transition: width 1s ease-in-out;
        -ms-transition: width 1s ease-in-out;
        transition: width 1s ease-in-out;
        background-color: rgba(0, 0, 0, 1);
        overflow: hidden;
        text-align: center;
    }

    #menubar nav #ul2 {
        white-space: nowrap;
        color: white;
        list-style: none;
        overflow: hidden;
        min-height: 100px;
        height: 25%;
        padding: 0 0;
        width: 165px
    }

    #menubar #ul2 li {
        list-style-type: none;
        width: 165px;
    }

    #menubar nav #ul2 li span {
        font-size: 15px;
        text-align: center;
        text-decoration: none;
        width: 100%;
    }


    #menubar nav #ul1 {
        white-space: nowrap;
        color: white;
        list-style: none;
        min-font-size: 1.5vw;
        overflow: hidden;
        height: 76%;
        min-height: 250px;
        width: 165px
    }

    #menubar #ul1 li {
        display: flex;
        justify-content: flex-start;
        min-width: 10px;
        width: 100%;
        padding-bottom: 5px;
        padding-top: 5px;
    }

    #menubar nav #ul1 li span {
        font-size: 15px;
        text-align: left;
        text-decoration: none;
        width: 100%;
    }

    #menubar nav #ul1 li span:hover {
        color: firebrick;
        text-decoration: none;
    }

    #menubar nav #ul li span:hover:after {
        text-decoration: none;
    }

    .focused {
        text-decoration: none;
        color: firebrick;
    }

    #botbar {
        display: none;
    }

}

/*HORIZONTAL BABY MENU*/
@media only screen
and (min-width: 395px) and (max-width: 601px), (min-width: 390px) and (max-height: 450px) {

    #right {
        visibility: hidden;
        width: 35px;
        height: 55px;
        text-indent: -9999px;
        position: fixed;
        background: url("images/rarrow.jpg") no-repeat center 90%;
        background-size: 100%;
        opacity: 0.4;
        -webkit-transition: opacity 1s ease-in-out;
        -moz-transition: opacity 1s ease-in-out;
        -ms-transition: opacity 1s ease-in-out;
        transition: opacity 1s ease-in-out;
    }

    #left {
        visibility: hidden;
        width: 35px;
        height: 60px;
        text-indent: -9999px;
        position: fixed;
        background: url("images/larrow.jpg") no-repeat center 90%;
        background-size: 100%;
        opacity: 0.4;
        -webkit-transition: opacity 1s ease-in-out;
        -moz-transition: opacity 1s ease-in-out;
        -ms-transition: opacity 1s ease-in-out;
        transition: opacity 1s ease-in-out;
    }

    .portrait-image{
        padding: 2px;
        max-width: 170px;
    }

    .box {
        width: 80vw;
        height: 80vh;
        color: white;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.7);
        -webkit-transition: all 2s ease;
        -moz-transition: all 2s ease;
        -ms-transition: all 2s ease;
        transition: all 2s ease;
    }

    .centered {
        position: fixed;
        visibility: visible;
        top: 150%;
        right: 10vw;
        -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
        transform: scale(1.0);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
    }

    .rightside {
        position: fixed;
        visibility: hidden;
        overflow: hidden;
        top: 150%;
        -webkit-transform: scale(0.3);
        -ms-transform: scale(0.3);
        transform: scale(0.3);
        right: -52vw;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
    }

    .leftside {
        position: fixed;
        visibility: hidden;
        top: 150%;
        right: 72vw;
        overflow: hidden;
        -webkit-transform: scale(0.3);
        -ms-transform: scale(0.3);
        transform: scale(0.3);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
    }

    .routside {
        position: fixed;
        overflow: hidden;
        top: 150%;
        -webkit-transform: scale(0.3) translateX(100%);
        -ms-transform: scale(0.3) translateX(100%);
        transform: scale(0.3) translateX(100%);
        right: -35vw;
        visibility: hidden;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
    }

    .loutside {
        position: fixed;
        overflow: hidden;
        top: 150%;
        -webkit-transform: scale(0.3) translateX(-100%);
        -ms-transform: scale(0.3) translateX(-100%);
        transform: scale(0.3) translateX(-100%);
        right: 80vw;
        visibility: hidden;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
    }
}

/*VERTICAL BABY MENU*/
@media only screen
and (max-width: 395px){

    #left {
        visibility: hidden;
        width: 40px;
        height: 20px;
        text-indent: -9999px;
        position: fixed;
        background: url("images/uarrow.png") no-repeat center 90%;
        background-size: 100%;
        opacity: 0.5;
        -webkit-transition: opacity 1s ease-in-out;
        -moz-transition: opacity 1s ease-in-out;
        -ms-transition: opacity 1s ease-in-out;
        transition: opacity 1s ease-in-out;
    }

    #right {
        visibility: hidden;
        width: 40px;
        height: 20px;
        text-indent: -9999px;
        position: fixed;
        background: url("images/arrow.png") no-repeat center 90%;
        background-size: 100%;
        opacity: 0.4;
        -webkit-transition: opacity 1s ease-in-out;
        -moz-transition: opacity 1s ease-in-out;
        -ms-transition: opacity 1s ease-in-out;
        transition: opacity 1s ease-in-out;
    }

    .text1 {
        display: inline;
        white-space: pre-wrap;
        font-size: calc(14px + 2.5vw);
    }

    .text2 {
        white-space: pre-wrap;
        font-size: calc(14px + 2vw);
    }

    .text3{
        white-space: pre-wrap;
        display: inline-block;
        font-size: calc(16px + 3vw);
    }

    .text4{
        white-space: pre-wrap;
        font-size: calc(10px + 1.5vw);
    }

    .breaker {
        display: none;
    }

    .portrait-image {
        /*padding-right: 40px;*/
        min-width: 160px;
        margin: auto auto;
        text-align: center;
    }


    .box {
        width: 90vw;
        height: 90vh;
        color: white;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.7);
        -webkit-transition: all 2s ease;
        -moz-transition: all 2s ease;
        -ms-transition: all 2s ease;
        transition: all 2s ease;
    }

    .centered {
        position: fixed;
        visibility: visible;
        top: 150%;
        right: 5vw;
        overflow: auto;
        font-size: 14px;
        -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
        transform: scale(1.0);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
    }

    .rightside {
        position: fixed;
        overflow: hidden;
        top: 250%;
        -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
        transform: translateY(100%);
        right: 10vw;
        visibility: hidden;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
    }

    .leftside {
        position: fixed;
        overflow: hidden;
        top: 50%;
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
        right: 10vw;
        visibility: hidden;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
    }

    .routside {
        position: fixed;
        overflow: hidden;
        top: 250%;
        -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
        transform: translateY(100%);
        right: 10vw;
        visibility: hidden;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
    }

    .loutside {
        position: fixed;
        overflow: hidden;
        top: 50%;
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
        right: 10vw;
        visibility: hidden;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
    }


}
