/*
menu (bar for landscape orientation) small
 */

#menubar {
    position: fixed;
    height: 100%;
}

#dropbutton {
    display: block;
    position: fixed;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 10px;
    border: none;
    cursor: pointer;
    z-index: 100;
}

nav {
    background-color: rgba(0, 0, 0, 1);
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    top: 0;
    width: 0;
    height: 100%;
    overflow: hidden;
    text-align: center;
    transition: width 1s ease-in-out;
    z-index: 10;
}

#menubar:hover nav {
    display: block;
    width: 150px;
    height: 100%;
}

nav ul {
    white-space: nowrap;
    list-style: none;
    min-font-size: 1.5vw;
    width: 100%;
}

ul li {
    display: list-item;
    min-width: 10px;
    width: 15%;
}

nav ul li span {
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    color: white;
    width: 15%;
}

nav ul li span:hover {
    color: firebrick;
    text-decoration: none;
}

nav ul li span:hover:after {
    width: 100%;
    text-decoration: none;
}

.focused {
    text-decoration: none;
    color: firebrick;
}



/*
menu (wall for portrait) small
 */


/*
normal menu
 */
